<!--<p><mat-toolbar    color="primary">-->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style ="color:black;padding-left:100px">menu</mat-icon></button> -->
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="padding-left: 900px;color:black">account_circle</mat-icon>
  </button>
  <div style="margin-left:910px">
  <mat-accordion style="color: blanchedalmond;">
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
<mat-expansion-panel-header style="color: blanchedalmond;">
<mat-panel-title>
Test Bar
</mat-panel-title>
<mat-panel-description>

</mat-panel-description>
</mat-expansion-panel-header>

</mat-expansion-panel>

</mat-accordion>
      </div>
</mat-toolbar>
</p>-->

<!-- <app-sidenav></app-sidenav> -->
<router-outlet></router-outlet>


