<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"><br>
      <a href="#"><mat-icon aria-label="Side nav toggle icon" style="margin-left:30px;" href="#"style="color:white;padding-left:10px">dashboard</mat-icon>
      </a>
    
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

      <mat-toolbar style="background-color:#7165db;width:100%">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
        </button><p  style="color:white;margin-left: 30px;margin-top: 3px;">Wind Mill Inspection</p>
      </mat-toolbar>
        
    <!-- Detail page content -->
 
  
    <div class="bounds">
      <div class="content" fxLayout="row" fxLayout.xs="row" fxFlexFill>
        <div fxFlex="25" class="sec1" fxFlex.xs="55">
          <div *ngFor="let i of displayList" class="detailId">
            {{ i.wtg_id }}
          </div>
          <div *ngFor="let i of displayList" class="detailLabel">
            {{ i.blades[0].label }}
          </div>
         
          <div *ngFor="let i of displayList" class="detailBladeModel">
            S/N : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            {{ i.inspection_date.slice(0,4) }} <br>
            {{ "Blade Model :" + i.blade_model }}

          </div>
          <div class="detailMainWtg">
            <div class="detailWtg">
              <div *ngFor="let i of displayList" class="">
                {{ "WTG :" + i.wtg_id }}
              </div>
              <div *ngFor="let i of displayList" class="">
                {{ "Class :" + i.wtg_class }}
              </div>
              <div *ngFor="let i of displayList" class="">
                {{ "Farm :" + i.farm }}
              </div>
              <div *ngFor="let i of displayList" class="">
                {{ "WTG Model :" + i.wtg_model }}
              </div>
            </div>
          </div>
          <div >
            <img src="../../assets/images/notes.png" alt="" class="detailNote">
            Add Note
          </div>
        </div>
        <div fxFlex="100" class="sec2" fxFlex.xs="15">
          <div class="detailFilter">
            <mat-form-field appearance="fill">
              <mat-label>WTG ID</mat-label>
              <mat-select multiple>
                <mat-option>Reset</mat-option>
                <mat-option> wtgId </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Inspection Date</mat-label>
              <mat-select multiple>
                <mat-option>Reset</mat-option>
                <mat-option> Date </mat-option>
              </mat-select>
            </mat-form-field>
           
              <img src="../../assets/images/filter.png" alt="" class="detailFilterImage">
           
          </div>
          <div class="detailImg">
            <div class="inline-block">
              <img
                src="../../assets/images/windmill.jpg"
                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"
   
              alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
            <div class="inline-block">
              <img
              src="../../assets/images/windmill.jpg"

                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </mat-sidenav-content>
</mat-sidenav-container>
