.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  /*background-color:#7165db;*/
    background-color:white;

  
}

.sidenav .mat-toolbar {
  background:inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
.example-container{
  width:100%
}
.detailId {
  font-size: 22px;
  margin-left: 15px;
  padding-top: 33px;
  color: #13294b;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.detailFilter {
  padding-top: 10px;
}
.detailLabel {
  font-size: 85px;
  margin-left: 15px;
  padding-top: 77px;
  color: #1e365a;
  font-weight: 400;
}
.detailBladeModel {
  color: #1e365a;
  padding-top: 65px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 500;
}
.detailWtg {
  color: #fff;
  background-color: #1e365a;
  padding-top: 10px;
  margin-left: 15px;
  padding-left: 18px;
  width: 200px;
  height: 90px;
  border-radius: 5px;
}
.detailMainWtg {
  padding-top: 20px;
}
.detailComment {
  color: #4976b8;
  margin-left: 15px;
  padding-top: 20px;
  font-size: 30px;
}
.detailImg ::after {
  content: "";
  clear: both;
  display: table;
}
.img3 {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  border: .5px solid gray;
}
.inline-block {
  float: left;
  width: 20%;
  padding: 5px;
}
.detailNote{
  padding: 15px;
  border: none;
}
.detailFilterImage{
  width: 25px;
  height: 25px;
  color: #13294b;
  margin-left: 10px;
  border: none;
  margin-top: 1px;
}


.details {
  margin-top: 20px;
}

.item1 {
  margin-left:90px;
  font-size:larger;
  font-family:Arial, Helvetica, sans-serif;
}

.item2 {
  margin-left:20px;
  margin-top: 70px;
  font-size: 50px;
  font-style:normal;
  color: #0b3374;
}

.blades{
  font-size:small;
}

.item3{
  background-color: #0b3374;
  width:240px;
  height: 100px;
  margin-left:10px;
  padding:10px 10px 10px;
  margin-top: 40px;
  font-size:medium;
  text-align:left;
  line-height:25px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.notes{
 padding-left: 10px;
}
.image1 {
  margin-left:20px;
  margin-top:10px;
 height: 10px;
 width:5px; 
}
.labelImage ::after{
  content: "";
  clear:both;
  display:table;
}
.img{ 
  float:left;
  width: 20%;
  padding: 5px;
}
.button{
  color: white;
  background-color: blue;
  margin-left: 130px;

}
.icon{
  padding-left: 80px;
}
.input{
  width:98%;
  height:50px;
  border-radius: 5px;
  border-color: #2c5188;
}
.s{
  margin-left:300px
}
.addnote{
  color: blue;
  padding-left: 130px;
}
.a{
  background-color:orangered;
  color:white;
  margin-left:320px
}